.container {

 background-color: #F4F2EE;
  .header-img {
    // border: solid black 5px;
    position: relative;
    margin-top: 0px;
    .cover-img {
      position: relative;
      width: 100%;
      border-radius: 2%;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    .profile-img {
      width: 10rem;
      height: 10rem;
      border: solid white 5px;
      border-radius: 50%;
      top:-80px;
      position: relative;
      overflow: hidden;
     
      margin-left: 10px;

      img {
        width: 100%; /* Set the image width to 100% of the container */
        height: 100%; /* Set the image height to 100% of the container */
        object-fit: cover;
      }
    }
  }
  .user-info{
    margin-top: 50px;
   
  }
  #bio{
    width: 100%;
  }
  #name{
    width: 30%;
  }
  // background-color: red;
}
